body {
  color: red; }

html {
  color: blue; }

.error, .badError {
  border: 1px red;
  background: #ffdddd; }

.error.intrusion, .intrusion.badError {
  font-size: 1.3em;
  font-weight: bold;
  -webkit-box-shadow: 0 0 1px 1px black;
  -moz-box-shadow: 0 0 1px 1px black;
  box-shadow: 0 0 1px 1px black; }

.badError {
  border-width: 3px; }
